<article class="card">
    <a  href="{{ .RelPermalink }}" style="color: inherit;">
        {{ range first 1 (.Resources.ByType "image") }}
            {{ $imageXL := .Resize "380x" }}
            {{ $imageLG := .Resize "380x" }}
            {{ $imageMD := .Resize "360x" }}
            {{ $imageSM := .Resize "270x" }}
            <picture>
                <source srcset="{{ $imageXL.RelPermalink }}" media="(min-width: 75em)">
                <source srcset="{{ $imageLG.RelPermalink }}" media="(min-width: 62em)">
                <source srcset="{{ $imageMD.RelPermalink }}" media="(min-width: 48em)">
                <source srcset="{{ $imageSM.RelPermalink }}" media="(min-width: 34em)">
                <img class="img-fluid card-img-top" alt="Card image cap" 
                    src="{{ $imageSM.RelPermalink }}" 
                    style="max-width: 100%; height: auto;"
                 />
            </picture>
        {{ end }}
    </a>
    <a  href="{{ .RelPermalink }}" style="color: inherit;" class="card-body"></a>
    <!-- <a  href="{{ .RelPermalink }}" style="color: inherit;" class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </a> -->
        
</article>