/* #products {
    display: grid;
    grid-column-gap: 50px;
}

#products .product {} */
/* fluid 5 columns */
#products .grid-sizer, #products .card { margin-bottom: 20px; float: left;  width: 46%;}

@media (min-width: 576px) {
    #products .grid-sizer, #products .card { width: 46%; }
}

@media (min-width: 768px) {
    #products .grid-sizer, #products .card { width: 31%; }
}
@media (min-width: 992px) {
    #products .grid-sizer, #products .card { width: 31%; }
}

@media (min-width: 1200px) {
    #products .grid-sizer, #products .card { width: 32%; }
} 