<script src="{{ "js/jquery.min.js" | absURL }}"></script>
<script src="{{ "js/propper.min.js" | absURL }}"></script>
<!-- <script src="{{ "js/lodash.min.js" | absURL }}"></script> -->
<script src="{{ "js/blazy.min.js" | absURL }}"></script>
<!-- <script src="{{ "bootstrap/js/bootstrap.min.js" | absURL }}"></script> -->
<script src="{{ "js/main.js" | absURL }}"></script>

<script>
window.fbAsyncInit = function() {
    FB.init({
        appId            : '2032157273698893',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v3.0'
    });

  FB.AppEvents.logPageView();
};

/*
(function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/vi_VN/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
*/

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>

<!-- Your customer chat code -->
<div id="fb-root"></div>
<div class="fb-customerchat"
  attribution="setup_tool"
  page_id="162172361103193"
  >
</div>



