<script src="{{ "js/jquery.min.js" | absURL }}"></script>
<script src="{{ "js/propper.min.js" | absURL }}"></script>
<!-- <script src="{{ "js/lodash.min.js" | absURL }}"></script> -->
<script src="{{ "js/blazy.min.js" | absURL }}"></script>
<!-- <script src="{{ "bootstrap/js/bootstrap.min.js" | absURL }}"></script> -->
<script src="{{ "js/main.js" | absURL }}"></script>

<div id="fb-root"></div>

<script>
window.fbAsyncInit = function() {
    FB.init({
        appId            : '2032157273698893',
    });

  FB.AppEvents.logPageView();
};

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

/*
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
*/
</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="1146816462119159"
  >
</div>




