<script src="{{ "js/jquery.min.js" | absURL }}"></script>
<script src="{{ "js/propper.min.js" | absURL }}"></script>
<!-- <script src="{{ "js/lodash.min.js" | absURL }}"></script> -->
<script src="{{ "js/blazy.min.js" | absURL }}"></script>
<!-- <script src="{{ "bootstrap/js/bootstrap.min.js" | absURL }}"></script> -->
<script src="{{ "js/main.js" | absURL }}"></script>

<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js#xfbml=1&version=v3.0&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<!-- Your customer chat code -->
<div id="fb-root"></div>
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="880737902106715">
</div>



