{{ with .Title }}<title>{{ . }}</title>{{ end }}
{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }} 
<link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}img/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{{ partial "common/style.html" "bootstrap/scss/bootstrap.scss" }}
{{ partial "common/style.html" "css/main.css" }}


{{ partial "common/preload-script.html" "js/jquery.slim.min.js" }}
{{ partial "common/preload-script.html" "js/masonry.pkgd.min.js" }}

<!-- <link rel="preload" href="{{ "bootstrap/js/bootstrap.bundle.min.js" | absURL }}" as="script"> -->

