{{ with .Title }}<title>{{ . }}</title>{{ end }}
{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }} 
<link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}img/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{{ "bootstrap/css/bootstrap.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/main.css" | absURL }}">

<!-- <link rel="preload" href="{{ "js/jquery.min.js" | absURL }}" as="script"> -->
<!-- <link rel="preload" href="{{ "bootstrap/js/bootstrap.bundle.min.js" | absURL }}" as="script"> -->

<link rel="preload" href="https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js" as="script">

