<!-- {{ $jsFiles := (slice "js/jquery.min.js" "js/masonry.pkgd.min.js" "js/imagesloaded.pkgd.min.js" "js/main.js")}} -->
{{ $jsFiles := (slice "node_modules/jquery/dist/jquery.slim.js" "js/masonry.pkgd.min.js" "js/imagesloaded.pkgd.min.js" "js/main.js")}}
{{ range $jsFiles }}
    {{ $js := resources.Get . | minify | fingerprint "sha512" }}
    <script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" ></script>
{{end}}

<!-- <script src="{{ "js/holder.min.js" | absURL }}"></script> -->
<!-- <script src="{{ "js/propper.min.js" | absURL }}"></script> -->
<!-- <script src="{{ "js/lodash.min.js" | absURL }}"></script> -->
<!-- <script src="{{ "js/blazy.min.js" | absURL }}"></script> -->
<!-- <script src="{{ "bootstrap/js/bootstrap.bundle.min.js" | absURL }}"></script> -->

<div id="fb-root"></div>

<script>
window.fbAsyncInit = function() {
    FB.init({
        appId            : '2032157273698893',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v3.0'
    });

  FB.AppEvents.logPageView();
};

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="1146816462119159"
  >
</div>




