<nav class="sticky-top navbar navbar-light navbar-expand-lg mb-3" style="background-color: hsla(0,0%,100%,.95); border-bottom: 1px solid #f1f3f5;">
    <a href="/" class="navbar-brand mb-0 h1" style="color:black">{{ .Site.Title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ">
        <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item">
                <a class="nav-link" href="/products/">All</a>
            </li> -->
            {{ range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
            <!-- <li class="nav-item">
                <a class="nav-link" href="{{ .Permalink }}">{{ .Title | title }}</a>
            </li> -->
            {{ end }}
        </ul>
    </div>
    
</nav>
