{{ define "main" }}

{{ partial "common/site-main-nav.html" . }}     

<article class="container">
    <div class="row align-items-start">
        <div class="col-12 col-md-8 order-md-1">
            {{ range .Resources.ByType "image" }}
                {{ $imageXL := .Resize "730x" }}
                {{ $imageLG := .Resize "610x" }}
                {{ $imageMD := .Resize "450x" }}
                {{ $imageSM := .Resize "370x" }}
                <picture>
                    <source srcset="{{ $imageXL.RelPermalink }}" media="(min-width: 75em)">
                    <source srcset="{{ $imageLG.RelPermalink }}" media="(min-width: 62em)">
                    <source srcset="{{ $imageMD.RelPermalink }}" media="(min-width: 48em)">
                    <source srcset="{{ $imageSM.RelPermalink }}" media="(min-width: 34em)">
                    <img class="mb-1 card-img img-fluid text-center" src="{{ $imageSM.RelPermalink }}" />
                </picture>
            {{ end }}
        </div>
        <div class="col-12 col-md-4 order-md-2 d-none d-md-block">
            {{ partial "products/single/product.html" . }} 
        </div>
        <div class="col-12 col-md-4 order-md-2 d-block d-md-none">
            {{ partial "products/single/product.html" . }} 
            <br/>
        </div>
        
    </div>
</article>

{{ partial "common/footer.html" . }}     

{{ end }}