<article class="col-6 col-lg-3 mb-4">
    <a href="{{ .RelPermalink }}" style="color: inherit;">
        <img class="b-lazy img-fluid text-center" data-src="{{ .Params.thumbnailImage }}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
        <main>
            <!-- <h6>{{ .Params.title }}</h6> -->
            <!-- <ul class="small">
                {{ range .Params.variants }}
                <li>
                    <span>{{ .title }}: </span>
                    <span>
                        <span style="text-decoration: line-through">{{ .comparePrice }}</span>
                        <span>{{ .actualPrice }}</span>
                        <span {{ if .inStock }} style="display:none" {{end}}>— Sold Out</span>
                    </span>
                </li>
                {{ end }}
            </ul> -->
        </main>
        <!-- 
        <span>
            {{ if .Params.actualPrice }}
                {{ $.Scratch.Set "minimumPrice" (.Params.actualPrice | string) }}
            {{ else }}
                {{ $.Scratch.Set "minimumPrice" "999999999999999"}} 
            {{ end }}
            {{ if .Params.inStock }}
                {{ $.Scratch.Set "inStock" (.Params.inStock | string) }}
            {{ else }}
                {{ $.Scratch.Set "inStock" "false" }}
            {{ end }} 
            {{ range $index, $element := .Params.variants }}
                <div>
                    <span>{{ $element.title }}: </span>
                    <span>
                        <span style="text-decoration: line-through">{{ $element.comparePrice }}</span>
                        <span>{{ $element.actualPrice }}</span>
                        <span {{ if $element.inStock }} style="display:none" {{end}}>— Sold Out</span>
                    </span>
                </div>
                {{ $variantActualPrice := (.actualPrice | replaceRE "[^0-9.]+" "" | float )  }}
                {{ $actualPrice := ($.Scratch.Get "minimumPrice" | replaceRE "[^0-9.]+" "" | float) }}
                {{ if lt $variantActualPrice $actualPrice }}
                    {{ $.Scratch.Set "minimumPrice" (.actualPrice | string)}} 
                    {{ $.Scratch.Set "isMinimumVariantPrice" "true"}}
                {{ end }}
                {{ if .inStock }}
                    {{ $.Scratch.Set "inStock" "true" }}
                {{ end }}
            {{ end }}
            {{ if eq ($.Scratch.Get "isMinimumVariantPrice") "true" }} From {{ end }}
            {{ $.Scratch.Get "minimumPrice" }}  
            {{ if not (eq ($.Scratch.Get "inStock") "true")}} <span class="font-weight-bold">— Sold Out</span> {{ end }} 
        </span>
        -->
    </a>
</article>